footer.footer
            .footer-container
                .footer__left
                    .footer__adress
                            span г. Москва,
                            br
                            span ул. Московская, оф.5
                    .footer-tel
                            span +7 (123) 121-36-89
                            br
                            span +7 (123) 589-64-75
                .footer__center
                    ul.footer-links
                        li.footer-links__item
                            .footer-links__links
                                a.footer-links__link(href="servises.html") Услуги
                                a.footer-links__link(href="prise.html") Прайс-лист
                        li.footer-links__item
                            .footer-links__links
                                a.footer-links__link(href="posts.html") Статьи
                                a.footer-links__link(href="catalog.html") Каталог урн
                        li.footer-links__item
                            .footer-links__links
                                a.footer-links__link(href="about.html") О компании
                                a.footer-links__link(href="contacts.html") Контакты
                    ul.footer-social
                        a.footer-social__link(href="#")
                            i.fab.fa-vk
                        a.footer-social__link(href="#")
                            i.fab.fa-facebook-f
                        a.footer-social__link(href="#")
                            i.fab.fa-twitter
                .footer__right
                    a.button-up(href="#")
                    .footer-text
                        span 2018 © “Наименование”. Все права защищены
                        br
                        span СОЗДАНИЕ САЙТА 
                        a.deweloper(href="https://www.waytostart.ru/") ВЕБ-СТУДИЯ WAYTOSTART