.header
    .hamburger
    nav.header-nav
        ul.header-menu
            li.header-menu__line
                a.header-menu__link.header-menu__link_active(href="#") Личная информация
            li.header-menu__line
                a.header-menu__link(href="#") Опыт
            li.header-menu__line
                a.header-menu__link(href="#") JavaScript
            li.header-menu__line
                a.header-menu__link(href="#") О себе