.fix-menu
            .fix-menu__content
                nav.fix-menu__nav
                    a.fix-menu__link(href="index.html") Главная
                    a.fix-menu__link(href="servises.html") Услуги
                    a.fix-menu__link(href="prise.html") Прайс-лист
                    a.fix-menu__link(href="posts.html") Статьи
                    a.fix-menu__link(href="catalog.html") Каталог урн
                    a.fix-menu__link(href="about.html") О компании
                    a.fix-menu__link(href="contacts.html") Контакты
                .fix-menu__bottom
                    ul.fix-menu-social
                        a.fix-menu-social__link(href="#")
                            i.fab.fa-vk
                        a.fix-menu-social__link(href="#")
                            i.fab.fa-facebook-f
                        a.fix-menu-social__link(href="#")
                            i.fab.fa-twitter
                    .hero-action
                            a.hero-action__btn(href="prise.html") ЗАКАЗАТЬ ONLINE