extends ../template

block variables
    - var title = 'Блог'

block content
    section.section.hero
        .hero__social
           ul.social-blok
                li.social-blok__item
                    a.social-blok__link(href="#")
                        svg.social-blok__img
                            use(xlink:href="assets/images/symbols.svg#vk")
                li.social-blok__item
                    a.social-blok__link(href="#")
                        svg.social-blok__img
                            use(xlink:href="assets/images/symbols.svg#github")
                li.social-blok__item
                    a.social-blok__link(href="#")
                        svg.social-blok__img
                            use(xlink:href="assets/images/symbols.svg#in")
        .hero__menu
            img.hamburger(src="assets/images/hamburger.svg", alt="")
        .hero__title
            .user-blok
                .user-blok__avatar
                    img.user-blok__img(src="assets/images/user-avatar.jpg", alt="")
                .Blog__title
                    .title-blok Блог
                .user-blok__description Статьи, которые я написал
        .hero__scroll
            .scroll-btn
                img.scroll-btn__pic(src="assets/images/arrow_down.svg", alt="")
    section.section.blog
        svg.bg-figure(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="0,0 50,99 100,0 100,100 0,100 0,0")
        .blog__area
            .blog__nav
                nav.blog-list
                    li.blog-list__line Самое важное в SASS
                    li.blog-list__line Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.blog-list__line Самое важное в SASS
                    li.blog-list__line Самое важное в SASS
            .blog__content
                .blog-blok
                    .blog-blok__title Самое важное в SASS
                    .blog-blok__date 22 ноября 2016
                    .blog-blok__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        img.blog-blok__img(src="assets/images/blog-img.jpg", alt="")
                .blog-blok
                    .blog-blok__title Приёмы в вёрстке, без которых не обходится ни один сайт
                    .blog-blok__date 13 ноября 2016
                    .blog-blok__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        footer.footer
            ul.footer__list.footer-list
                li.footer__section
                    .footer-legend.text-blok_footer Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                li.footer__section
                    ul.footer-menu
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Мои работы
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Обо мне
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Блог
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Авторизация
                    .footer__social
                        ul.social-blok_footer
                            li.social-blok__item_footer
                                a.social-blok__link_footer(href="#")
                                    svg.social-blok__img_footer
                                        use(xlink:href="assets/images/symbols.svg#vk")
                            li.social-blok__item_footer
                                a.social-blok__link_footer(href="#")
                                    svg.social-blok__img_footer
                                        use(xlink:href="assets/images/symbols.svg#github")
                            li.social-blok__item_footer
                                a.social-blok__link_footer(href="#")
                                    svg.social-blok__img_footer
                                        use(xlink:href="assets/images/symbols.svg#in")
                li.footer__section
                    .footer-passage Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                    .footer-passage_autor — Martin Golding
            .footer__bottom-line
                .copyright.text-blok_copyright © Владимир Астахов | Создано с любовью в LoftSchool | 2016