$low: 1000px;
$small: 768px;
$phones: 680px;
$little: 560px;
$i5: 450px;


@mixin low{
    @media screen and(max-width: $low){
        @content;
    }
}

@mixin small{
    @media screen and(max-width: $small){
        @content;
    }
}

@mixin phones{
    @media screen and(max-width: $phones){
        @content;
    }
}

@mixin little{
    @media screen and(max-width: $little){
        @content;
    }
}

@mixin i5{
    @media screen and(max-width: $i5){
        @content;
    }
}

@import 'common/normalize';
@import 'fonts/stylesheet';
@import 'common/header';
@import 'common/main';
@import 'common/hero';

html{
    font-size: 16px;
    font-family: 'Roboto';
    @include low{
        font-size: 15px;
    }
    @include small{
        font-size: 14px;
    }
    @include phones{
        font-size: 13px;
    }
    @include little{
        font-size: 12px;
    }
    @include i5{
        font-size: 11px;
    }
}

